.navbar-content{
    height: 60px;
    color: var(--textColor2);
    align-items: center;
    overflow: hidden;
    
}

a,link {
    text-decoration: none;
    color: inherit;
}

.brand {
    font-size: larger;
    display: inline;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.brand h2 {
    display: inline;
}

.searchBar {
    background-color: var(--backgroundColor3);
    padding: 0 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.searchBar svg {
    background-color: var(--backgroundColor3);
    
}

.searchBar input{
    display: inline;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    width: 30vw;
    border: none;
    background-color: var(--backgroundColor3);
    background-color: transparent;
    outline: none;
    margin-right: 10px;
}

.right-searchBtn {
    display: none;
}

.search-cross {
    display: none;
}

.nav {
    margin-left: 40px;
    font-weight: bold;
    align-items: center;
}

.nav ul {
    list-style: none;
    gap: 20px;
    margin-right: 10px;

}

.nav-items svg {
    font-size: 25px;
}

.menu {
    display: none;
}

@media screen and (max-width:390px) {
    .sm {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .navbar-content {
        margin: 0 5px;
        justify-content: space-between;
    }
    .brand {
        margin-left: 0;
    }
    .nav {
        margin: 0;
    }

    .nav-items {
        gap: 5px;
    }

    .md {
        display: none;
    }

    .menu {
        display: inline;
    }

    
}


@media screen and (max-width:768px) {
    .searchBar{
        display: none;
        
    }

    .navbar-content{
        justify-content: space-between;
    }

    .right-searchBtn {
        display: inline;
    }
    
}
@media screen and (min-width:769px) {
    .navbar-content{
        justify-content: space-between;
    }

    
}
@media screen and (min-width:900px) {
    .navbar-content{
        justify-content: space-between;
    }

    .nav {
        margin-right: 20px;
    }
    
    .brand {
        gap: 40px;
    }

    .nav ul {
        
        gap: 30px;
        
    
    }
    
}
@media screen and (min-width:1200px) {
    
    
    .brand {
        gap: 50px;
    }
    
}